LOCAL_OIDC_HOST=zap-pronto.127.0.0.1.nip.io
LOCAL_HTTPS_PORT=18443
LOCAL_OIDC_ORIGIN=https://zap-pronto.127.0.0.1.nip.io:18443
LOCAL_KEYCLOAK_ADMIN_USERNAME=local-admin
LOCAL_KEYCLOAK_ADMIN_PASSWORD=replace-in-local-env
LOCAL_OIDC_ADMIN_PASSWORD=replace-in-local-env
LOCAL_OIDC_ATTENDANT_PASSWORD=replace-in-local-env
LOCAL_TLS_CA_FILE=C:/outside-repository/zap-pronto-local-ca.crt
LOCAL_TLS_CERT_FILE=C:/outside-repository/zap-pronto-local.crt
LOCAL_TLS_KEY_FILE=C:/outside-repository/zap-pronto-local.key
